.paginado{
    display: flex;
    justify-content: space-between;
    list-style:none;
    cursor: pointer;
    margin-bottom: 10px;
    width: 96%;
    margin-left: 2%;
}
.sal:hover{
    color: rgb(106, 7, 116);
}
