.detail{
width: 60%;
color:white;
margin: 2px auto;
background-color:black;
box-shadow: 0 6rem 6rem 0 rgba(0, 0, 5, 5);
border-radius:20px;
}
  .card-title {
      margin-top: 0;
    text-align:center;
    font-size: 30px;
  }
  .detail-img{
    width:100%;
    text-align:center;
  
  }
  .imagen{
    width: 400px;
    height: 220px;
  }
  
    .btn-back{
        display:block;
        width:75px;
        margin:auto;
        margin-bottom:10px;
        background-color: black;
        border: transparent;
        font-weight:bold;
        color:white;
        font-size: 22px;
        width:75px;
        padding:2px; 
        cursor: pointer;
      }
      .container{
            display:flex;
            margin:auto;
            font-weight:bold;
      }
  .btn-back:hover{
    background-color: white;
    color: black;
  }
    