.card{
    margin: 20px;
    width: 18rem;
    margin-top: 0px;
    padding-top: 0px;
    border: 1px solid black;
}
.image{
    margin-left: 25%;
    height: 100px;
   }
.name{
     text-align: center;
     list-style:none;
     cursor: pointer;
   }
